body {
	padding-bottom: 80px;
	background-color: #eee;
}

form {
	padding: 5px;
}

label {
	margin-left: 10px;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top: 10px;
}

.plain-input {
	margin-bottom: 10px;
}

h1 {
	color: #000034;
}

a  {
	color: #198754;
}

a:hover {
    color: #16804e;
}
