body {
	padding-bottom: 150px;
	background-color: #eee;
}

hr {
	margin-top: 0px;
	margin-bottom: 10px;
}

form {
	padding: 5px;
}

label {
	margin-left: 10px;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top: 10px;
}

.plain-input {
	margin-bottom: 10px;
}

h1 {
	color: #000034;
}

a {
	color: #198754;
}

a:hover {
	color: #16804e;
}

.custom-radio:checked {
	background-color: #198754;
	border-color: #198754;
}

.custom-input:focus {
	border-color: #198754;
	box-shadow: 0px 0px 1px #fff, 0px 0px 8px #198754;
}