html {
	height: 100%;
}
body {
	height: 91%;
	/*padding-bottom: 150px;*/
	background-color: #eee;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

hr {
	margin-top: 0px;
	margin-bottom: 10px;
}

form {
	padding: 5px;
}

label {
	margin-left: 10px;
}

.wrapper {
	min-height: 90%;
	margin-top: 80px;
	margin-bottom: -50px;
}
.push {
	height: 50px;
}
footer {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.plain-input {
	margin-bottom: 10px;
}

h1 {
	color: #146c43;
}

a {
	color: #643700;
}

a:hover {
	color: #16804e;
}

.custom-radio:checked {
	background-color: #198754;
	border-color: #198754;
}

.custom-input:focus {
	border-color: #198754;
	box-shadow: 0px 0px 1px #fff, 0px 0px 8px #198754;
}

.comment {
	margin-bottom: 10px;
	padding: .5rem;
	border-radius: .25rem;
	color: white;
	background-color: #146c43;
}