{% extends "layout.html" %} {% block content %}
<div class="d-flex justify-content-center align-items-sm-center">
	<div class="card" style="width: 25rem">
		<div class="card-header">
			<h4 style="margin: 0px">Uusi havainto</h4>
		</div>
		<div class="card-body">
			<!--Form will return the following:
				bird 			: text
				location 		: text
				date 			: date
				count-option 	: text 			("one"/"many")
				count 			: number/empty
				banded-option 	: text 			("true"/"false"/"not_known")
				band-serial 	: text/empty
				uploadImage 	: file/empty 	(.apng/.avif/.gif/.jpg/.jpeg/.jfif/.pjpeg/.pjp/.png/.svg/.webp)
			-->
			<form method="post" enctype="multipart/form-data" action="/new-observation">
				<div class="row">
					<div class="col form-floating mb-3">
						<input
							class="form-control custom-input"
							name="bird"
							id="bird"
							placeholder="Lintu"
							list="birds"
							pattern="{{ birdpattern }}"
							title="Valitsemaasi lintua ei ole listassa"
							required
						/>
						<label for="bird">Lintu</label>
						<datalist id="birds">
							{% for bird in birds %}
							<option value="{{ bird }}"></option>
							{% endfor %}
						</datalist>
					</div>
					<div class="col form-floating mb-3">
						<input
							class="form-control custom-input"
							name="location"
							id="location"
							placeholder="Kunta"
							list="locations"
							pattern="{{ locationpattern }}"
							title="Valitsemaasi kuntaa ei ole listassa"
							required
						/>
						<label for="location">Kunta</label>
						<datalist id="locations">
							{% for location in locations %}
							<option value="{{ location }}"></option>
							{% endfor %}
						</datalist>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<div class="input-group mb-3">
							<span class="input-group-text" id="date-label">
								Havaintopäivä:
							</span>
							<input
								style="width: 10rem"
								class="form-control custom-input"
								type="date"
								id="date"
								name="date"
								value="{{ today }}"
								min="2021-01-01"
								max="{{ today }}"
							/>
						</div>
					</div>
				</div>

				<hr />

				<div class="row">
					<div class="col">
						<h5>Lintujen lukumäärä:</h5>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="form-check">
							<input
								class="form-check-input custom-radio custom-input"
								type="radio"
								name="count-option"
								id="one"
								value="one"
								onclick="setCountOne()"
								checked
							/>
							<label
								style="margin-left: 0px"
								class="form-check-label"
								for="one"
							>
								Yksi (1)
							</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="form-check">
							<input
								class="form-check-input custom-radio custom-input"
								type="radio"
								name="count-option"
								id="many"
								value="many"
								onclick="setCountMany()"
							/>
							<label
								style="margin-left: 0px"
								class="form-check-label"
								for="many"
							>
								Useampi
							</label>
							<div style="width: 9rem" class="input-group mb-3">
								<span class="input-group-text" id="count-label">Lkm:</span>
								<input
									class="form-control custom-input"
									type="number"
									min="2"
									max="1000"
									name="count"
									id="count"
									disabled
								/>
							</div>
						</div>
					</div>
				</div>

				<hr />

				<div class="row">
					<div class="col">
						<h5>Rengastettu:</h5>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="form-check form-check-inline">
							<input
								class="form-check-input custom-radio custom-input"
								type="radio"
								name="banded-option"
								id="true"
								value="true"
								onclick="setBandActive()"
							/>
							<label
								style="margin-left: 0px"
								class="form-check-label"
								for="true"
							>
								Kyllä
							</label>
						</div>
						<div class="form-check form-check-inline">
							<input
								class="form-check-input custom-radio custom-input"
								type="radio"
								name="banded-option"
								id="false"
								value="false"
								onclick="setBandDisabled()"
							/>
							<label
								style="margin-left: 0px"
								class="form-check-label"
								for="false"
							>
								Ei
							</label>
						</div>
						<div class="form-check form-check-inline">
							<input
								class="form-check-input custom-radio custom-input"
								type="radio"
								name="banded-option"
								id="not_known"
								value="not_known"
								onclick="setBandDisabled()"
								checked
							/>
							<label
								style="margin-left: 0px"
								class="form-check-label"
								for="not_known"
							>
								Ei tietoa
							</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col form-floating mb-3">
						<input
							style="margin-bottom: 0px"
							class="plain-input form-control custom-input"
							type="text"
							name="band-serial"
							id="band-serial"
							disabled
						/>
						<label for="band-serial">Renkaan kirjainkoodi ja sarjanumero:</label>
					</div>
				</div>

				<hr />

				<div style="margin-bottom: 16px" class="row">
					<div class="col">
						<label class="form-label" for="uploadImage">
							Kuva havainnosta (<i>ei pakollinen</i>)
						</label>
						<input
							type="file"
							class="form-control custom-input"
							name="uploadImage"
							id="uploadImage"
							accept=".apng,.avif,.gif,.jpg,.jpeg,.jfif,.pjpeg,.pjp,.png,.svg,.webp"
						/>
					</div>
				</div>

				<div style="margin-bottom: -4px" class="row">
					<div class="col">
						<button class="btn btn-success" type="submit">Lähetä</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	function setInputActive(inputId, active) {
		document.getElementById(inputId).disabled = !active
	}

	function setInputRequired(inputId, required) {
		document.getElementById(inputId).required = required
	}

	function resetInputValue(inputId) {
		document.getElementById(inputId).value = null
	}

	function setCountOne() {
		setInputActive('count', false)
		setInputRequired('count', false)
		resetInputValue('count')
		setInputActive('true', true)
		setInputActive('false', true)
		setInputActive('not_known', true)
	}

	function setCountMany() {
		setInputActive('count', true)
		setInputRequired('count', true)
		setInputActive('true', false)
		setInputActive('false', false)
		setInputActive('not_known', false)
		document.getElementById('not_known').checked = true
		setBandDisabled()
	}

	function setBandActive() {
		setInputActive('band-serial', true)
		setInputRequired('band-serial', true)
	}

	function setBandDisabled() {
		setInputActive('band-serial', false)
		resetInputValue('band-serial')
		setInputRequired('band-serial', false)
	}
</script>
{% endblock %}
