{% extends "layout.html" %} {% block content %}
<div class="d-flex justify-content-center">
	<div class="card" style="width: 45rem; margin-bottom: 10px">
		<div class="card-header">
			<h5 style="margin: 0px">{{ observation.birdfi }}</h5>
			<i>{{ observation.birdsci }}</i>
		</div>
		{% if observation.imgid %}
		<a href="/images/{{ observation.imgid }}">
			<img class="card-img-top" src="/images/{{ observation.imgid }}" />
		</a>
		{% endif %}
		<div style="padding-bottom: 0px;" class="card-body">
			<p><b>Havaintopäivä:</b> {{ observation.date }}</p>
			<p><b>Sijainti:</b> {{ observation.muni }}, {{ observation.prov }}</p>
			<p><b>Lintujen lukumäärä:</b> {{ observation.count }}</p>
			{% if observation.banded == 'true' %}
			<p><b>Rengasnumero:</b> {{ observation.band_serial }}</p>
			{% endif %}
			<p>
				<b>Bongari:</b> {{ observation.user }}
				<i>@{{ observation.usernick }}</i>
			</p>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<form method="POST" action="/comment/{{ observation.obsid }}">
					<textarea
						class="form-control"
						name="comment"
						id="comment"
						rows="3"
					></textarea>
					<button style="margin-top: 5px" class="btn btn-success" type="submit">
						Kommentoi
					</button>
				</form>
			</li>
		</ul>
		{% if comments %}
		<div class="card-body">KOMMENTTEJA</div>
		{% else %}
		<div class="card-footer text-muted">Ei kommentteja</div>
		{% endif %}
	</div>
</div>
{% endblock %}
